// svg-icon
:deep(svg) {
  &.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
    font-size: 16px;
    svg:not(:root) {
      overflow: hidden;
    }
  }
}
// no-data
:deep(.no-data) {
  margin-top: 10vh;
  @include flex();
  img {
    width: 80vw;
  }
}
// 公共类
.app-container {
  padding-bottom: calc(50px + 16px);
}
// iPhone X系列底部加高
@media #{$ipxMedia} {
  .app-container {
    padding-bottom: calc(50px + 34px) !important;
  }
}
