/**
 * 变量样式
 */
$mainColor: #009688; // 主色0b8df4
$baseFontColor: #595959; //默认字色(正文、常规字色)
$strongFontColor: #262626; //加深字色(标题、主要字色)
$subFontColor: #8c8c8c; //辅助字色(描述、次要字色)
$disableFontColor: #bfbfbf; //禁用、占位文字
$baseLinkColor: #0b8df4; //link字体颜色

$baseBorderColor: #ededed; //默认边框颜色
$baseLineColor: #f0f0f0; // 分割线颜色
$baseBackColor: #f5f5f5; //默认背景颜色

$warningColor: #ff6c1a; //提醒
$errorColor: #ff3838; //错误、禁用
$successColor: #54b523; //成功色
